
        {% include "header.html" %}
          <!-- Page Header-->
        <header class="masthead" style="background-image: url({{url_for('static', filename='assets/img/about-bg.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">A Newbie Programmer | Writer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi there, I'm Lyla 🧚‍♀️ </p>
                        <p>I'm a novice programmer and I'm learning everything about computer science. ✅</p>
                        <p>I'm also a crappy poet and have been addicted to art and literature since school. 👩‍🎤</p>
                        <p>I love creating, especially creating with code. 🦄</p>
                        <p>I believe code is another art. 🎨</p>
                        <p>If you want to know me more, 🙌</p>
                        <p>Don't hesitate to contact me. 😊</p>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}

