
        {% include "header.html" %}
          <!-- Page Header-->
        <header class="masthead" style="background-image: url({{url_for('static', filename='assets/img/about-bg.jpg')}})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">A Newbie Programmer | Writer</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi there, I'm Lyla 🧚‍♀️ </p>
                        <p>I am a maker at heart; from developing challenging large-scale software to small weekend hacks and proof of concept ideas to tinkering around with my Lego Mindstorms sets - I love to build.</p>
                        <p>I'm learning programming, and am an inactive poet. I'm extremely enthusiastic about life, believe that life is too short to work on things that don't interest you, and I'm always on the hunt for learning something new. 👩‍🎤</p>
                        <p>Want to know me more? Do not hesitate to leave a message!</p>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}

